<h1> Hangdude </h1>
<div class="floating_box">
  <div>
    <%= image_tag "dead_guy_#{hangman_image(@game)}.png" %>
  </div>
  <%= content_tag :span, obscured_word(@obscured_word), class: :obscured_word %>
  <%= content_tag :div, guess_list(@guessed_letters).html_safe, class: :guess_list %>
  Lives remaining: <%= @game.lives_remaining %>
  <%= form_for [@game, GuessedLetter.new] do |f| %>
    <%= f.text_field :letter, required: true, autofocus: true, placeholder: "Enter your guess!", pattern: '^[a-z]$', title: "Guess a single letter (lowercase a-z)", disabled: game_over?(@game) %>
    <%= f.submit "Guesticulate" %>
  <% end %>
  <%= flash[:alert] %>
  <%= end_game_message(@game) %>
    <%= form_for(Game.new) do |f| %>
    <%= f.submit "New Game" %>
  <% end %>
</div>
<%= link_to "Back to Main", Game %>