<h1> Hangdude </h1>
<div class="floating_box">
  <span class="obscured_word"><%= obscured_word(@obscured_word) %></span>
  <div class="guess_list">
  <%= guess_list(@guessed_letters).html_safe %>
  </div>
  lives remaining: <%= @game.lives_remaining %>
  <%= form_for [@game, GuessedLetter.new] do |f| %>
    <%= f.text_field :letter, required: true, autofocus: true, placeholder: "Enter your guess!", pattern: '^[a-z]$', title: "Guess a single letter (lowercase a-z)", disabled: game_over?(@game) %>
    <%= f.submit "Guesticulate" %>
  <% end %>
  <%= end_game_message(@game) %>
  <%= form_for(Game.new) do |f| %>
    <%= f.submit "New Game" %>
  <% end %>
</div>
<%= link_to "Back to Main", Game %>